# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production
/screenshots/screenshot.png
/screenshots/screenshot2.png
/screenshots/screenshot3.png
/screenshots/Screenshot 2026-02-26 at 10.52.47.png
/screenshots/Screenshot 2026-02-26 at 11.00.34.png
/screenshots/Screenshot 2026-02-26 at 12.15.48.png
/screenshots/Screenshot 2026-02-26 at 20.33.44.png
/screenshots/Screenshot 2026-02-27 at 7.28.15.png
/screenshots/Screenshot 2026-02-27 at 7.41.05.png
/screenshots/Screenshot 2026-02-27 at 7.50.23.png
/screenshots/Screenshot 2026-03-02 at 8.46.24.png
/screenshots/Screenshot 2026-03-02 at 8.46.59.png
/screenshots/Screenshot 2026-03-02 at 8.47.10.png
/screenshots/Screenshot 2026-03-02 at 8.47.18.png
/screenshots/Screenshot 2026-03-03 at 8.01.25.png
